<Title:>
  #{{_channel.id}}

<Head:>
  <link rel='shortcut icon' href='/img/favicon.ico'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

<Body:>
  <div id='controls'>
    <input id='input' type='text' />
    <ul id='channels'>
      {#each channels}<app:channelTab>{/}
    </ul>
  </div>
  <ul id='messages'>
    {#each _messages}<app:message>{/}
  </ul>

<channelTab:>
  <li><a href='/{{_id}}' class='channel'>
    <span class='channel-name'>{{_id}}</span>
    <span class='channel-unread'>{._unread}</span>
  </a>

<message:>
  <li class='message message-{{type}}'>
    <time datetime='{{timestamp}}' class='message-timestamp'>({{prettyDate(timestamp)}})</time>
    {{#if from}}<span class='message-from'>{{from}}</span>{{/}}
    {{message}}