<Title:>
  #{{_channel.id}}

<Head:>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

<Body:>
  <div id='controls'>
    <input id='input' type='text' />
    <ul id='servers'>
      {#each _channels}<app:channelTab>{/}
    </ul>
  </div>
  <ul id='messages'>
    {#each _channel.messages}<app:message>{/}
  </ul>

<channelTab:>
  <li class='channel'>
    <span class='channel-name'>{{name}}</span>
    <span class='channel-unread'>{unread}

<message:>
  <li class='message message-{{type}}'>
    <time datetime='{{timestamp}}' class='message-timestamp'>({{prettyDate(timestamp)}})</time>
    {{#if from}}<span class='message-from'>{{from}}</span>{{/}}
    {{message}}