@import 'nib'

body
  background: #2c2b2c
  color: #fff
  font: 11px/14px "Andale Mono", "Lucida Console", Consolas, monospace
  margin: 5px
  padding: 0 0 32px
  overflow-x: hidden

input
  border: 0
  &:focus
    outline: none

#controls
  position: fixed
  bottom: 0
  left: 0
  width: 100%

#input
  display: none
  width: 100%
  padding: 10px 5px
  margin: 1px 0 0
  color: #eee
  background: #2c2b2c
  border-top: 1px solid #222
  box-shadow: inset 0 5px 15px -5px #222
  &:focus
    box-shadow: inset 0 5px 15px -5px #111
    
#channels
  padding: 0 4px
  background: #111
  color: #eee
  border-top: 5px solid #222
  box-shadow: 0 -1px 0 #3e3e3e, inset 0 1px 0 #3e3e3e, inset 0 1px 6px #000

.channel
  display: inline-block
  vertical-align: top
  padding: 6px 8px
  margin-top: 1px
  cursor: default
  user-select: none
  &:hover
    background: #151515

    .channel-name
      color: #999

  &.active
    padding: 5px 8px 6px
    margin-top: 0
    background: #222
    border: 1px solid #3e3e3e
    border-top: none

    .channel-name
      color: #eee

.channel-name
  color: #777

.channel-unread
  display: none

ul
  list-style: none
  margin: 0
  padding: 0

.message-timestamp,
.message-from 
  margin-right: 0.5em

.message-hide
  .message-join,
  .message-part
    display: none

.message-timestamp
  color: #555

.message-join,
.message-part
  .message-from
    color: #999

.message-join
  .message-from
    &:after
      content: ' joined'

.message-part
  .message-from
    &:after
      content: ' quit'

.message-message
  .message-from
    color: #bec4a4
    &:before
      content: '('
    &:after
      content: ')'

@media screen and (max-width: 480px)
  .message-timestamp
    font-size: 0.8em