@import 'nib'

*
  box-sizing: border-box

body
  background: #2c2b2c
  color: #fff
  font: 11px/14px "Andale Mono", "Lucida Console", Consolas, monospace
  margin: 5px
  padding: 0 0 26px
  overflow-x: hidden

input
  border: 0
  &:focus
    outline: none

#input
  position: fixed
  bottom: 0
  right: 0
  width: 100%
  padding: 6px 5px
  margin: 0
  color: #aaa
  background: #2a2a2a
  border-top: 1px solid #1a1a1a
  box-shadow: inset 0 5px 15px -5px #222
  transition: background ease-out 0.3s, color ease-out 0.3s, box-shadow ease-out 0.3s
  &::-webkit-input-placeholder,
  &::-moz-placeholder
    color: #444
    transition: color ease-out 0.3s
  &:hover,
  &:focus
    color: #eee
    background: #262626
    box-shadow: inset 0 5px 15px -5px #111
    &::-webkit-input-placeholder,
    &::-moz-placeholder
      color: #777
  &:focus
    &::-webkit-input-placeholder,
    &::-moz-placeholder
      opacity: 0

.channel
  display: inline-block
  vertical-align: top
  padding: 6px 8px
  margin-top: 1px
  cursor: default
  user-select: none
  &:hover
    background: #151515

    .channel-name
      color: #999

  &.active
    padding: 5px 8px 6px
    margin-top: 0
    background: #222
    border: 1px solid #3e3e3e
    border-top: none

    .channel-name
      color: #eee

.channel-name
  color: #777

.channel-unread
  display: none

ul
  list-style: none
  margin: 0
  padding: 0

.message-timestamp,
.message-from 
  margin-right: 0.5em

.message-hide
  .message-join,
  .message-part
    display: none

.message-timestamp
  color: #555

.message-join,
.message-part
  .message-from
    color: #999

.message-join
  .message-from
    &:after
      content: ' joined'

.message-part
  .message-from
    &:after
      content: ' quit'

.message-message
  .message-from
    color: #bec4a4
    &:before
      content: '('
    &:after
      content: ')'

@media screen and (max-width: 480px)
  .message-timestamp
    font-size: 0.8em